{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si un compte utilisant cette email existe, alors un email a été envoyer avec un lien permettant de réinitialiser votre mot de passe.
    </p>
    <p>Si vous ne recevez pas le mail regarder dans les spams ou <a href="{{ path('app_forgot_password_request') }}">Réessayer</a>.</p>
{% endblock %}
